@font-face {
    font-family: yekan;
    src: url(./Fonts/a3xd_iranyekanwebbold.ttf);
}

* {
    font-family: yekan;
}

body {
    background-image: url(./images/191335.jpg);
    background-repeat: no-repeat;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.search{
    border-right: 0px solid;
    border-left: 0px solid;
    border-radius: 5px;
    margin-left: 30px;
}
.login{
    width: 300px;
    margin-left: 200px;
    border-radius: 15px;
}

.input {
    width: 300px;
    margin-left: 200px ;
    border-left: 0px ;
    border-right: 0px;
    border-top: 0px;
    border-color : rgb(246, 165, 65)
}

.plogin{
    width: 300px;
    margin-left: 200px ;
}
.symbol{
    display: flex;
    color: white ;
    margin-left: 200px ;
    justify-content: space-between;
    height: 30px;
}